<html lang="en" dir="ltr">
<body>
    <p>You have received the data of the receipt {{ receipt_no }}.</p>
    <p>You can see this data as attachment.</p>
    <p>Best regards {{ site_name }}.</p>
</body>
</html>
